{% extends "AppCoder/plantilla_base.html" %}

{% block contenido_base %}

<h1>Cursos</h1>
<a href="{% url 'curso_formulario' %}">Crear curso!</a>
<br>
<a href="{% url 'busqueda_curso_form' %}">Buscar Cursos</a>

<br><br>
<h3>Cursos:</h3>

<table border="2">
  <tr>
    <td>
      <b>Nombre</b>
    </td>
    <td>
      <b>Comision</b>
    </td>
  </tr>
  {% for curso in cursos %}
  <tr>
    <td>{{curso.nombre}}</td>
    <td>{{curso.comision}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock contenido_base %}