{% extends "AppCoder/plantilla_base.html" %}

{% block contenido_base %}

<!-- Cuerpo-->
{% if exitoso %}
<div style="background-color:#545052;">Tu curso fue guardado!!!!</div>
{% endif %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Nuestra web Intermedia de Django 41220 - CoderHouse</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock contenido_base %}
