{% extends "AppCoder/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
  .eliminado {
    background-color: red;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

{% if borrado %}
<div class="eliminado">Fue borrado exitosamente el profesor de ID: {{ borrado }}</div>
{% endif %}

<h1>Profesores</h1>
<a href="{% url 'crear_profesor' %}">Crear profesor!</a>

<br><br>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Apellido</strong>
      </th>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {% for profesor in profesores %}
    <tr>
      <td>{{profesor.apellido}}</td>
      <td>{{profesor.nombre}}</td>
      <td></td>
      <td><a href="{% url 'eliminar_profesor' profesor.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}